<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>second</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<h1> 恭喜你闯过了第一关，是不是很简单，一鼓作气继续加油吧！</h1>
<h3> 不是提示的提示：请根据下面的神秘符号前往第三关！</h3>
<div id="app" >
    <div >
        <img src="./img/second_question.png"  width="1200" height="800" />

    </div>
</div>


<script>

    console.log("小技巧常驻者[console]笑嘻嘻的看着你道：勇者，你果然又来了，这是你的隐藏奖励请收好：7895123 84268 7895123 84268 ！")

</script>




</body>
</html>